h1 {
  font-family: Gypsy Curse;
  position: relative;
  position: absolute;
    /* left: 50%;
    top: 50%;
    width: 50%;
    right: 50%;
    left: 50%; */
  position: absolute;
  left:25%;
  top: 25%;
  width: 100%;
  right: 25%
  bottom: 25%
  text-align: center;
  font-size: 40px;



  text-align: center;
  font-size: 18px;
  background-color: lightgrey;
  width: 300px;
  border: 25px solid darkgreen;
  padding: 25px;
  margin: 25px;
  opacity: .5;
  /* cursor: pointer;
  display: inline-block; */

}
.background_img {
  width: 100%;

}
body {
  margin: 0;
}
/* #act_sect {
  position: relative;

  left:auto;
  bottom: auto;
  text-align: center;
  font-size: 18px;
  background-color: lightgrey;
  width: 300px;
  border: 25px solid darkgreen;
  padding: 25px;
  margin: 25px;

} */

.item1 {
  grid-column-start: 2;
  grid-column-end: 2;}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;


}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
