h1 {
  font-family: Gypsy Curse;
  position: relative;
  position: absolute;
    /* left: 50%;
    top: 50%;
    width: 50%;
    right: 50%;
    left: 50%; */
  position: absolute;
  left:50%;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 40px;



  text-align: center;
  font-size: 18px;
  background-color: lightgrey;
  width: 300px;
  border: 25px solid darkgreen;
  padding: 25px;
  margin: 25px;
  opacity: .5;
  /* cursor: pointer;
  display: inline-block; */

}
.background_img {
  width: 100%;

}
body {
  margin: 0;
}
#act_sect {
  left:50%;
  top: 50%;
  text-align: center;
  font-size: 18px;
  background-color: lightgrey;
  width: 300px;
  border: 25px solid darkgreen;
  padding: 25px;
  margin: 25px;

}
