<html>
  <head>
    <title>Project RCM: Debug Tool</title>
  </head>
  <body>
    <div>
      <div><h2>Monster Creator</h2></div>
      <form action="/debug/monster">
        <div>Name: <input type="text" name="name"></div>
      </form>
    </div>
    <div>
      <div><h2>Player Creator</h2></div>
      <form action="/debug/player">
        <div>Name: <input type="text" name="name"></div>
      </form>
    </div>
    <div>
      <div><h2>Armor Creator</h2></div>
      <form action="/debug/armor">
        <div>Name: <input type="text" name="name"></div>
      </form>
    </div>
    <div>
      <div><h2>Weapon Creator</h2></div>
      <form action="/debug/weapon">
        <div>Name: <input type="text" name="name"></div>
      </form>
    </div>
  </body>
</html>
