<html>
  <head>
    <title>Project RCM: Debug Tool</title>
  </head>
  <body>
    <div>
      <div><h2>Armor Creator</h2></div>
      <form action="/debug/armor">
        <div>Name: <input type="text" name="name"></div>
        <div>Resistance: <input type="number" name="resistance"></div>
        <div>Weight: <input type="number" name="weight"></div>
        <div><input type="submit"></div> <!-- why so many submit buttons? !-->
      </form>
    </div>
    <div>
      <div><h2>Weapon Creator</h2></div>
      <form action="/debug/weapon">
        <div>Name: <input type="text" name="name"></div>
        <div>Power: <input type="number" name="power"></div>
        <div>Weight: <input type="number" name="weight"></div>
        <div><input type="submit"></div>
      </form>
      <div><h2>Monster Creator</h2></div>
      <form action="/debug/monster">
        <div>Name: <input type="text" name="name"></div>
        <div>HP: <input type="number" name="hp"></div>
        <div>Max HP: <input type="number" name="max_hp"></div>
        <div>Strength: <input type="number" name="strength"></div>
        <div>Dexterity: <input type="number" name="dexterity"></div>
        <div>Intelligence: <input type="number" name="intel"></div>
        <div>Weapon: <input type="text" name="weapon"></div>
        <div>Armor: <input type="text" name="armor"></div>
        <div><input type="submit"></div>
      </form>
    </div>
    <div>
      <div><h2>Player Creator</h2></div>
      <form action="/debug/player">
        <div>Name: <input type="text" name="name"></div>
        <div>HP: <input type="number" name="hp"></div>
        <div>Max HP: <input type="number" name="max_hp"></div>
        <div>Strength: <input type="number" name="strength"></div>
        <div>Dexterity: <input type="number" name="dexterity"></div>
        <div>Intelligence: <input type="number" name="intel"></div>
        <div>Weapon: <input type="text" name="weapon"></div>
        <div>Armor: <input type="text" name="armor"></div>
        <div>Gold: <input type="number" name="gold"></div>
        <div>XP: <input type="number" name="xp"></div>
        <div>Inventory: <!--(Probably broken)!--> <input type="text" name="inventory"></div>
        <div><input type="submit"></div>
      </form>
    </div>
    <div>

      </form>
    </div>
  </body>
</html>
