<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>RPG Game</title>
  <link rel="stylesheet" href="../static/main.css">
  <script type="text/javascript" src="../static/main.js"></script>
</head>



<body>
<div class="grid-container">


  <div class="grid-item1">
    <form>
      <input type="submit" name="action" value="attack">
      </input>
    </form>
  </div>
  <div class="grid-item2">
    <div> {{log1}}</div>
    <div> {{log2}}</div>
    <div> {{log3}}</div>
    <div> {{log4}}</div>
    <div> {{log5}}</div>
  </div>
  <div class="grid-item6">
    {{img}}
  </div>
</div>

</div>
</body>

</html>

<!-- document.querySelector('.bugers')
  .addEventListener('click', burger){
    console.log('you clicked burger.');
  })

  function burger () {
    console.log(you clicked burger');
  } -->
<!-- for (food of foods) {
  addEventListener("click", clickedfood);
} -->
<!-- document.querySelector(ul)
remove -->
