<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="../static/main.css">
  <script type="text/javascript" src="../static/main.js"></script>
</head>



<body>
  <!-- <h1 class="game"> DO YOU WANT TO PLAY A GAME </h1> -->
<div id="clear">

<img class="background_img" src="https://c.pxhere.com/photos/c5/58/tunnel_dark_creepy_ghostly_passage_tube_light_shadow-675756.jpg!d">


<h1 id="demo" onclick="myFunction()">DO YOU WANT TO PLAY A GAME.</h1>
</div>
<div>
<p id=act_sect >
<!-- attack
defend -->
</p>






<div class="grid-container">


  <div class="grid-item1"> onclick="myFunction() </div>
  <div class="grid-item2">log</div>

  <div class="grid-item6">img</div>
</div>










</div>
</body>

</html>





























<!-- document.querySelector('.bugers')
  .addEventListener('click', burger){
    console.log('you clicked burger.');
  })

  function burger () {
    console.log(you clicked burger');
  } -->
<!-- for (food of foods) {
  addEventListener("click", clickedfood);
} -->
<!-- document.querySelector(ul)
remove -->
