<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>RPG Game</title>
  <link rel="stylesheet" href="../static/main.css">
  <script type="text/javascript" src="../static/main.js"></script>
</head>



<body>
  <!-- <h1 class="game"> DO YOU WANT TO PLAY A GAME </h1> -->
<div id="clear">

<img class="background_img" src="https://c.pxhere.com/photos/c5/58/tunnel_dark_creepy_ghostly_passage_tube_light_shadow-675756.jpg!d">

<h1 id="demo" onclick="myFunction()">DO YOU WANT TO PLAY A GAME?</h1>
</div>
<div>
  <p id=act_sect >
<!-- attack
defend -->
  </p>
  <form id="form" action="/maingame">

    <h1 id="demo" onclick="formsubmit()">DO YOU WANT TO PLAY A GAME?</h1>

  </form>
